@charset "utf-8";

$default-font-family: 'BM DoHyeon', 'Montserrat', Helvetica, sans-serif;

$video-hero-height-desktop: 460px;
$video-hero-height-mobile: 500px;

// 배경 그라데이션
$gradient-color-1: #000;

$gradient-color-2: #000;
$gradient-color-2-stop: 25%;

$gradient-color-3: #000;
$gradient-color-3-stop: 55%;

$gradient-color-4: #583B4E;
