@charset "utf-8";

$default-font-family: 'BM DoHyeon', 'Montserrat', Helvetica, sans-serif;

$video-hero-height: 630px;
$video-hero-overlap: 10px;

// 배경 그라데이션
$gradient-color-1: #000;

$gradient-color-2: #000;
$gradient-color-2-stop: 80%;

$gradient-color-3: #573b4e;

$store-icon-underline-size: 2px;

