@charset "utf-8";

@import "variables";
@import "mixins";
@import "utilities";

// mobile-first

// reset
body {
  font-family: $default-font-family;
  color: #D2D2D2;
  // 동영상 폭보다 화면 크기가 좁은경우
  // 동영상을 높이에 맞춰서 확대하면 동영상 가로폭이 스크린보다 커진다
  // 이때 가로 스크롤이 안생기도록 하는것이 목적
  overflow-x: hidden;

  @include gradient-y(
      $gradient-color-1, 0%,
      $gradient-color-2, $gradient-color-2-stop,
      $gradient-color-3, 100%
  );
  background-color: #000;
}
div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,p,button,input,textarea,select,a {
  font-family: $default-font-family;
  line-height: 1.6em;
  letter-spacing: 0.07em;
}


img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ol,ul {
  list-style: none;
  padding: 0;
}


li {
  display: list-item;
}


a,
a:visited {
    text-decoration: none !important;
    cursor: pointer;
    color: #fdc444;
}
a:hover {
    /* link color? */
    color: #fdc444;
}

p {
    word-break: normal;
}

.site-content {
  max-width: 750px;
  margin: 0 auto;
  padding: 0;
}


// header
.header-title {
  .game-logo {
    padding: 1em 0 1em 0;
  }

  .game-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 240px;
    max-height: 100%;
    width: auto;
  }
}

// background video
.video-hero {
  min-height: $video-hero-height;
  
  .video-background {

    background-image: url(/img/index/video-thumbnail.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 630px;
    z-index: -1;
  }

  @media screen and (max-width: 24.15em){
    .video-background{
      min-height: 685px;
    }
  }

  .embed-container {
    // mobile에서는 배경 동영상 없다
    display: none;

    position: relative;
    overflow: hidden;

    // 창 크기에 맞춰서 조정
    // 픽셀로 계산하는게 무난할듯
    clip-path: inset(0 0 0 0);
    top: 0;
    height: 100%;
  }
  .bg-video-overlay {
    display: none;
    width: 100%;
    height: 630px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  // 48em이 ≥ 768px
  // ipad 해상도 이상부터 동영상으로 띄우고싶다
  // 외부 시연시 데이터를 너무 잡아먹지 않도록 하고싶어서
  @media screen and (min-width: 48.1em) {
    .embed-container {
      display: block;
      position: absolute;
      top: 0;
    }
    .video-background {
      min-height: 630px;
    }

    .b
g-video-overlay {
      display: block;
    }
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 35.5em) {
  .video-hero {
    height: $video-hero-height - $video-hero-overlap;
  }
}

// play trailer
.play-trailer-wrapper {
  text-align: center;
  padding: 2em 0 2em 0;
}
.play-trailer {
  display: inline-block;
}
.play-trailer img {
  width: 130px;
}

// trailer video
.trailer-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;

  background-color:rgba(0, 0, 0, 0.5);

  z-index: 1;

  /* 처음에는 숨기기 */
  display: none;
}
.trailer-video .video-wrapper {
  position: relative;

  top: 25%;
  height: 50%;
  width: 90%;

  margin: auto;
}
@media screen and (min-width: 35.5em) {
  .trailer-video .video-wrapper {
    top: 5%;
    height: 90%;
  }
}

.trailer-video .video-wrapper iframe {
  width: 100%;
  height: 100%;
}

// screenshot
.popup-gallery {
  padding: 2em 0;
}

.screenshot-box {
  padding: 10px;
  display: block;

  img {
    // center align
    margin: 0 auto;

    box-sizing: border-box;
    //border: 3px solid #505050;
    //border-radius: 5px;
  }
}
@media screen and (min-width: 48em) {
  .screenshot-box {
    padding: 5px;
  }
}


// store
.content-store {
  p {
    max-width: 525px;
    min-width: 280px;
    width: 80%;
    font-size: 1.4em;

    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 25px 0 0 0;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  }

  @media screen and (max-width: 24.15em){
    p{
      max-width: 200px;
      min-width: 100px;
    }
  }
}
.list-store {
  text-align: center;
  padding: 10px;

  .store-icon-group{
    display: inline-block;
    padding-bottom: 10px;
  }

  .store-icon-wrapper {
    display: inline-block;
    padding-bottom: 0.5em;

    border-bottom: $store-icon-underline-size solid transparent;
  }
  .store-icon-wrapper.supported:hover {
    border-bottom: $store-icon-underline-size solid #fdc444;
  }
  .store-icon-wrapper.not-supported {
    a {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
    }
    img {
      opacity: 0.3;
    }
  }

  img{
    height: 50px;
  }

  @media screen and (min-width: 35.5em) {
    img {
      height: 65px;
    }
  }
}

.content-text {
  margin: 1em;
}

.content-images {
  padding: 30px 10px;
}

// intro
.content-intro {
  // https://jsfiddle.net/mjgjj85v/2/
  display: flex;
  align-items: center;
  margin: 2em 1em;

  .description {
    font-size: 1.1em;
  }
  @media screen and (min-width: 35.5em) {
    .description {
      padding: 1.5em;
    }
  }

  p.headline {
    color: #fff;
    font-size: 110%;
  }
  p.detail {
    color: #959595;
  }
}


// features
.content-features {
  h2 {
    color: #FF4E47;
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0 auto;
  }

  li {
    padding: 1em 0;
  }

  // https://www.w3.org/Style/Examples/007/color-bullets.en.html
  li::before {
    content: "\25A0";
    color: #D50800;
    position: absolute;
    font-size: 1em;
  }
  li p {
    display: inline-block;
    margin: 0 0 0 2em;
  }
}

.footer {
  margin: 60px 0;
  text-align: center;
}

// footer
.footer-head li {
  font-size: 1em;
  padding: 0.3em 0;
  color: #fff;
}

.footer-ndm {
  font-size: 1em;
  color: #8E8089;
}
.footer-ndm img {
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
}
.footer-ndm p {
  margin: 0;
}


.footer-tail {
  width: 100%;
}
.footer-tail small {
  font-size: 90%;
  color: #8E8089;
}
.footer-tail img {
  margin: 0 auto;
  max-width: 120px;
  width: 30%;
}
