@charset "UTF-8";
.upper-case {
  text-transform: uppercase; }

body {
  margin: 0 auto;
  padding: 0;
  max-width: 600px;
  background: black;
  color: #D2D2D2; }

body {
  font-family: "BM DoHyeon", "Montserrat", Helvetica, sans-serif; }

div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, fieldset, p, button, input, textarea, select, a {
  font-family: "BM DoHyeon", "Montserrat", Helvetica, sans-serif; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

ol, ul {
  list-style: none;
  padding: 0; }

li {
  display: list-item; }

a,
a:visited {
  text-decoration: none !important;
  cursor: pointer;
  color: #fdc444; }

a:hover {
  /* link color? */
  color: #fdc444; }

p {
  word-break: normal; }

.header-title .game-logo {
  padding: 15px 0 15px 0; }

.header-title .game-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  max-height: 100%;
  width: auto; }

@media only screen and (max-width: 568px) {
  .header-title .game-logo img {
    height: 150px; } }

.video-hero {
  height: 460px; }
  .video-hero .video-background {
    background-image: url(/img/index/video-thumbnail.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2; }
  .video-hero .bg-video-overlap {
    position: absolute;
    top: 460px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    /* FF3.6-15 */
    background: -moz-linear-gradient(top, #000 0%, #000 25%, #000 55%, #583B4E 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(top, #000 0%, #000 25%, #000 55%, #583B4E 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-image: linear-gradient(to bottom, #000 0%, #000 25%, #000 55%, #583B4E 100%);
    background-repeat: no-repeat;
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF583B4E', GradientType=0);
    color: #000; }
  .video-hero .embed-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    padding-bottom: 56.25%; }
  @media only screen and (max-width: 817.77778px) {
    .video-hero .embed-container {
      display: none; } }
  .video-hero iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media only screen and (max-width: 568px) {
  .video-hero {
    height: 500px; } }

.play-trailer-wrapper {
  text-align: center;
  padding: 0 0 35px 0; }

.play-trailer {
  display: inline-block; }

.play-trailer img {
  width: 90px; }

@media only screen and (max-width: 568px) {
  .play-trailer-wrapper {
    padding-top: 30px; }
  .play-trailer img {
    width: 80px; } }

.trailer-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  /* 처음에는 숨기기 */
  display: none; }

.trailer-video .video-wrapper {
  position: relative;
  top: 5%;
  width: 90%;
  height: 90%;
  margin: auto; }

@media only screen and (max-width: 568px) {
  .trailer-video .video-wrapper {
    top: 25%;
    height: 50%;
    width: 90%; } }

.trailer-video .video-wrapper iframe {
  width: 100%;
  height: 100%; }

.screenshot-box {
  padding: 5px;
  display: block; }
  .screenshot-box img {
    margin: 0 auto;
    box-sizing: border-box;
    border: 3px solid #505050;
    border-radius: 5px; }

.content-store p {
  max-width: 400px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5); }

.list-store {
  text-align: center;
  padding: 10px; }
  .list-store img {
    height: 60px;
    width: auto; }
  .list-store img.not-supported {
    opacity: 0.3; }
  .list-store a {
    display: inline-block;
    border-bottom: 1px solid transparent; }
  .list-store a:hover {
    border-bottom: 1px solid #fdc444; }

.content-intro p.headline {
  color: #fff; }

.content-intro p.detail {
  color: #959595; }

.content-features h2 {
  color: #FF4E47;
  text-align: center; }

.content-features ul {
  list-style: none; }

.content-features li::before {
  content: "◼";
  color: #D50800; }

.footer-head {
  text-align: center;
  padding: 120px 0;
  font-size: 0.8em; }

.footer-head li {
  font-size: 1em;
  padding: 0.2em 0; }

.footer-tail {
  text-align: center;
  margin: auto;
  width: 100%;
  padding-bottom: 30px; }

.footer-tail small {
  font-size: 70%; }

/*# sourceMappingURL=style.css.map */